
/*--welcome--*/
.welcome{
	padding:4em 0;
}
.welcome-left h2{
	font-size:3em;
	color:#00a0dc;
	 font-family:'microsoft yahei','JosefinSans-Bold';;
}
.welcome-right h3{
	font-size:1.5em;
	margin-bottom:0.5em;
	 font-family:'microsoft yahei','JosefinSans-Bold';;
}
.welcome-right p{
	color:#999;
	font-size:1em;
	line-height:1.8em;
}

.l-grids h4 {
	font-size:1.4em;
  font-weight:400;
  color: #fff;
}

.l-grids figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.l-grids figure img {
	position: relative;
	display: block;
	border:1px solid #fff ; 
}

.l-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.l-grids figure figcaption::before,
.l-grids figure figcaption::after {
	pointer-events: none;
}

.l-grids figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
figure.effect-bubba {
	  background-color:#00a0dc;
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h4 {
	padding-top: 12%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
}

figure.effect-bubba p {
	padding: 15px 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	  font-size: 0.8em;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.content-grid{
	margin-bottom:2.5em;
}
.content-grid h3{
	margin-top:0.8em;
	font-size:1.8em;
	font-family: 'JosefinSans-Light';
}
.bride-grids img{
	width:100%;
}
.container2 {
	width:92%;
 padding-left: 15px;
 padding-right: 15px;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
/******/



 .col-md-4 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }
/******/
.col-md-3{
  width: 25%;
  float:left;

}
.col-md-9{
  width: 75%;
   float:left;

}
.col-xs-3{
  width: 25%;

}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}



/*--footer-pic--*/
.footer-pic{
	margin:5em auto 0em;
	width:90%;
	background-color: #ffffff;
}
.footer-pic img{margin-left:40px;}

/*--footer--*/
.footer{
	padding:4em 0 3em;
}
.ftr-grid h4 {
  color: #646464;
  display: block;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 5px;
  font-size: 18px;
  margin-left:30%;
}
.ftr-grid ul{
  padding:10px,0;
  margin-left:30%;
}
.ftr-grid ul li{
	display:block;
}

.ftr-grid ul li a {
  color: #777;
  padding: 3px 0;
  display: block;
  font-size:15px;
}
.ftr-grid ul li a:hover{
	text-decoration:none;
	color:#00a0dc;
}
/*--footer   end--*/


.lt{float:left;}
.rt{float:right;}
.center{float:center;}
.clearfix{float:clear;}


.hidden{display:none;}

/*--about--*/
.rightbox .tablebox p.about{font-size:18px;}

/*--noticelist--*/
.rightbox .tablebox ul{
	margin-left: -10px;
    padding: 0;    
    list-style: none;}
.rightbox .tablebox ul li{
    line-height: 24px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    width: 98.5%;
    margin: 8px 0 0 13px;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
.rightbox .tablebox ul li span{
	line-height: 34px;
	font-size: 14px;
	color: #999;
	float: right;
}
.rightbox .tablebox  a{
	line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.rightbox .tablebox  a:hover{color:#61D46B;}
.rightbox .tablebox .icon-dot {
	background: url(../images/icon.png) no-repeat;
    background-position: 0px -124px;
    height: 10px;
    width: 9px;
    float:left;
    margin-right:10px;
    margin-top:13px;
}


/*******notice********/
.article h2 {
    text-align: center;
    color: #363636;
    padding-top: 30px;
}
.article p {
    text-align: center;
    padding: 0px 0px 15px 0px;
    color: #aeaeae;
    line-height: 15px;
}
.article .content-article {
    border-bottom: 1px solid #dee1e5;
    border-top: 1px solid #dee1e5;
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    line-height: 35px;
}
.article .content-article {
    border-bottom: 1px solid #dee1e5;
    border-top: 1px solid #dee1e5;
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    line-height: 35px;
}
.article-tip {
    padding-top: 20px;
    line-height: 35px;
    font: 16px;
    padding-bottom: 30px;
}
.article-tip a:link {
    color: #1882d6;
}




/******newslist******/
.infolist {
    background: #f6f6f6;
    padding: 18px 20px;
    margin-top: 22px;
    height:165px;
}
.infolist img {
    float: left;
    width: 200px;
    height: 132px;
    padding-top:16px;
    padding-bottom:4px;
}
.infolist-right {
    width: 70%;
    float: right;
}
.infolist-right a {
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    font-size:15px;
    margin:3px 0px 0px;
    padding:0px;
}
.infolist-right a:hover {color: ##61D46B;}
.infolist-right p {
    line-height: 22px;
        font-size: 12px;
        margin:3px 0px;
        padding:0px;
}
.infodetail {
    line-height: 24px;
    margin-top: 18px;
    color: #666;
    overflow:hidden;
    height:70px;
    font-size:14px;
}

@charset "utf-8";
/****************** sprite**************** */
.li-checkorder,.li-suborder,
.h1-carthead,.p-cart-tip,
.s-recycle-icon,.a-clearall,.a-ctn-shopping,.a-imdtly-buy,.s-del-this,.a-oper-addr,
.cart-message-box,.cart-message-box a.a-message-btn,
.cart-message-box .p-message-info,.cart-message-box a.a-message-btn,.btn-order-submit,.cart-process,.li-suborderb,.p-paynoice,.s-paystyle,.p-submitbtn .btn,.a-oper-addr,.s-coupon-btn,.h2-quan,.em-errMes{background:url(../images/cartsp.png) no-repeat 10000px 10000px;}
.tab-box-recom .tab-title{background:url(../images/kinds/icon-kinds.png) no-repeat;}
.lab-bankicon,.em-icon{background:url(../images/cart/pay-bank.png) no-repeat 10000px 10000px;}
.cart-main,.success-main,.order-main{width:1000px;margin:0 auto;padding:0 0 100px;overflow:hidden;zoom:1;}


/****************购物车流程******************/

.order-main .a-logo,.cart-main .a-logo{height: 74px;width: 150px;}
.ol-paysteps{float:right;margin:30px 0 0;}
.cart-process{background-color:#a7b0b5;height:30px;display:block;color:#fff;float:left;font:normal 15px/30px '微软雅黑';text-align:center;}

.ol-paysteps .li-mycart{width:204px;background-color:#66ba6a;;}
.ol-paysteps .li-checkorder{width:227px;background-color:#a7b0b5;background-position:0 -368px;}
.ol-paysteps .li-suborder{width:227px;background-color:#a7b0b5;background-position:0 -403px;}

.ol-paysteps .li-mycarty{width:204px;background-color:#a7b0b5;}
.ol-paysteps .li-checkorderb{width:227px;background-color:#61D46B;;background-position:0 -437px;}
.ol-paysteps .li-suborderb{width:227px;background-color:#a7b0b5;background-position:0 -368px;}

.ol-paysteps .li-checkorderc{width:227px;background-color:#a7b0b5;background-position:0 -403px;}
.ol-paysteps .li-suborderc{width:227px;background-color:#66ba6a;;background-position:0 -437px;}
/**************cart-content*********************/
.h1-carthead{font:normal 22px/22px '微软雅黑';clear:both;margin:0 0 12px;padding-left:35px;height:25px;background-position:0 0;}

.p-cart-tip{padding-left:35px;border:1px solid #ddd;height:37px;line-height:37px;background-color:#FFF;}
.p-tip-success{background-position:-3px -265px;}
.p-tip-fail{background-position:-3px -313px;}

/*********************cart-content**************/
.h1-carthead{font:normal 22px/22px '微软雅黑';clear:both;margin:0 0 12px;padding-left:35px;height:25px;background-position:0 0;}

.p-cart-tip{padding-left:35px;border:1px solid #ddd;height:37px;line-height:37px;background-color:#FFF;}
.p-tip-success{background-position:-3px -265px;}
.p-tip-fail{background-position:-3px -313px;}

/*购物清单*/
.tr-theadpart th,.ta-shoppinglist th{text-align:left;border-bottom:solid 2px #a0a1a2;height:38px;line-height: 38px;}
.th-pro-name{width:370px;padding-left:10px;}
.th-thead,.th-classify{width: 120px;}
.th-thead-operate{width:80px;}
.a-pro-img, .a-pro-name{display:inline-block;vertical-align:middle;}
.a-pro-name{font-weight:bold;margin-left:13px;width:290px;}
.in-single-amount{border:1px solid #ddd;height:20px;line-height:20px;text-align:center;width:42px;float:left;}
.s-single-minus,.s-single-plus{float:left;cursor:pointer;font-weight:bold;font-size:14px;height:20px;width:20px;line-height:18px;text-align:center;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.s-single-minus{border-left:1px solid #ddd;}
.s-single-plus{border-right:1px solid #ddd;}
.cart-single-price{color:#d71249;}
.tr-goodsinfo td{border-bottom: 1px solid #ddd;}
.td-goodsinfo{padding:20px 0;}
a.a-oper-addr,.s-del-this{height:26px;width:51px;background-position:-1px -36px;display:block;line-height:26px;text-align:center;cursor:pointer;font-weight:bold;}
a.a-oper-addr{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;margin:0 2px;}
a.a-oper-addr:hover,.s-del-this:hover{background-position:-1px -63px;color:#fff;}


.tfoot-account{background:#f4f5f7;}

.td-recycle{height:48px;padding-left:10px;}
a.a-clearall{cursor:pointer;vertical-align:middle;margin-top:5px;background-position:-96px -75px;padding-left:25px;float:left;}
.p-costcount{float:right;padding:5px 10px 5px 0;}
.p-cart-acttip{clear:both;padding:5px 0 5px 3px;line-height:1.7em;}

.s-alltogether{color:#d71249;font-size:16px;font-weight:bold;}
a.a-ctn-shopping{display:block;width:109px;height:34px;background-position:-3px -106px;text-align:center;line-height:34px;font-weight:bold;font-size:1.1em;float:left;margin:15px 0 0;}
.a-ctn-shopping:hover{background-position:-3px -140px;color:#fff;}

a.a-imdtly-buy{display:block;width:109px;height:34px;background-position:-2px -186px;text-align:center;line-height:34px;font-weight:bold;color:#fff;font-size:1.1em;float:right;margin:15px 0 0 0;}
a.a-imdtly-buy:hover{background-position:-2px -220px;color:#fff;}

.message-main{padding:40px 0 20px;}
.cart-message-box{width:400px;padding:10px 0 10px 330px;margin:0 0 40px;background-position:220px -570px;line-height:2em;}
.cart-message-box .p-message-info{padding:0 0 10px;font-size:1.18em;font-weight:bold;}
.cart-message-box .p-message-btn{padding:0 0 0 70px;}
.cart-message-box a{margin:0 2px;color:#015ba7;text-decoration:underline;}
.cart-message-box a:hover{text-decoration:none;}
.cart-message-box a.a-message-btn{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;width:98px;height:21px;line-height:21px;background-position:0 -580px;margin:0 10px 0 0;text-align:center;color:#fff;}

.coupon-prices{color:#d71249;}



